.wrapper {
    display: flex;
}

.com-list {
    width: fit-content;
    border: 2px solid #420000;
    padding: 10px;
}

.one-comment {
    width: fit-content;
    border: 2px solid #003c42;
    padding: 10px;
}